<div>
    <h1>Plantilla HBS: ok</h1>
</div>

{{!-- CONFIGURACION DEL LADO DEL CLIENTE --}}
{{!-- importacion --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- todas las configuraciones del socket --}}
<script src="/js/index.js"></script>