<div>
        Envio de msg con Websockets

        <div>
            <p>
                <input type="text" id="textoEntrada"
                alt="Introduce un msg">
            </p>
            <p id="log"></p>
        </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/message.js"></script>
