<div>
       <h1>Cree su Producto </h1>
        <h2>Nombre: <span id="myName"></span></h2>

       
        <main class="contenedor">

      <div class="contacto-bg"></div>
      <form id="formulario">

        <div class="campo">
            <label for="nombre" class="campo__label">Title</label>
            <input type="text" placeholder="Agrega un titulo" class="campo__field" required/>
        </div>

        <div class="campo">
            <label class="campo__label" for="email">Price</label>
            <input type="number" placeholder="Agrega precio"  class="campo__field" required />
        </div>

        <div class="campo">
          <label class="campo__label" for="msj">Description</label>
          <input type="text" placeholder="Agrega descripcion"  class="campo__field"  required/>
        </div>

         <div class="campo">
          <label class="campo__label" for="msj">Image</label>
          <input type="text" placeholder="Url de la imagen"  required class="campo__field" />
        </div>
        <div class="campo">
          <label class="campo__label" for="msj">Category</label>
          <input type="text" placeholder="Agregar categoria" required class="campo__field" />
        </div>
        <div class="campo">
          <label class="campo__label" for="msj">Stock</label>
          <input type="number" placeholder="Agregue stock"  required class="campo__field" />
        </div>

        <div class="campo">
          <input type="submit" value="Enviar" class="boton boton--primario" />
        </div>
      </form>
    </main>

        {{!-- reenderizar los mensajes --}}
      <h2>productos</h2>
        <div id="main">
        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>